*{
    margin: auto;
    padding: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    background-image:url("https://images7.alphacoders.com/328/328730.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    color: black;
}

nav{
    padding-bottom: 47px;
}
nav ul{
    list-style: none;
    background-color: black;
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav li{
    float: left;
    
}
nav li a{
    color:white;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
}
nav li a:hover{
    color:white;
    background-color: dimgray;
}

body{
    background-color: gainsboro;
}

.titulo{
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
    padding: 40px;
}

li{
    padding: 5px;
    font-size: 18px;
}

/*VOLVER*/
.contenedor{
    padding:80px;
    margin: auto;
}

.contenedor-card{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}
.card{
    width: 30%;
    height: 40px;
    box-shadow: 0 0 5px rgba(0,0,0.5);
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    transform: scale(1);
    transition: transform 0,6;
}
.card:hover{
    box-shadow: 0 0 20px rgba(0,0,0.5);
    transform:scale(1.15);
}
.card a{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: black;
}
/*VOLVER*/

/*PIE DE PAGINA*/
.footer-color{
    background-color: black;
    color:white;
}
.footer{
    width: 90%;
    padding: 10px;
    margin: auto;
}

.footer ul{
    list-style-type: none;
    padding-bottom: 15px;
}
.footer li{
    padding: 3px;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer i{
    color:white ;
    font-size:15px;
}